.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    width: 72px;
    background-color: white; 
    z-index: 200;
    padding-top: 5px;
}

.sidebar-link{
    height: 76px;
    display: flex;
    /* centre horizontally */
    justify-content: center;
    /* vertical centre */
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.sidebar-link:hover {
    background-color: rgb(235, 234, 234);
}
/* targetting the sidebar-link and all img inside it only */
.sidebar-link img {
    height: 24px;
    margin-bottom: 6.5px;
}
.sidebar-link div {
    font-family: Roboto,Arial;
    font-size: 10px;
}